<!-- Navigation bar for task categories -->
<nav class="tabs">
  <div class="icon-and-link">
    <i class="far fa-calendar-alt"></i>
    <a href="/">Today</a>
  </div>
  <span class="nav"></span>
  <div class="icon-and-link">
    <i class="far fa-clone"></i>
    <a href="/workTasks">Work</a>
  </div>
</nav>
